* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

html, body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay .muzen-color {
    color: #e7fc9a;
}

.overlay h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 48px;
    text-align: center;
}

.overlay p {
    color: white;
    font-size: 14px;
    text-align: center;
    opacity: 0.7;
}

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    
}

.container p {
    margin-top: 10px;
    font-size: 14px;
}

.container .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container .social-links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.container .social-links a:hover {
    opacity: 1;
}

.btn-wireframe {
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-wireframe:hover {
    background-color: #555;
}


.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background-color: transparent;
}

.loader-container {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.8s ease-out;
  pointer-events: auto;
}

.loader-container.hidden {
  opacity: 0;
  pointer-events: none; /* Se activa al final del fade */
}

.loader {
  --size: 250px;
  --duration: 2s;
  --logo-color: grey;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}

.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo svg {
  fill: var(--logo-color);
  width: 100%;
  animation: color-change var(--duration) infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--logo-color);
  }
  50% {
    fill: white;
  }
  100% {
    fill: var(--logo-color);
  }
}

@media (max-width: 768px) {
    .overlay h1 {
        font-size: 42px;
        margin-top: 40px;
    }

    .overlay p {
        font-size: 12px;
    }

    .container p {
        font-size: 12px;
    }

    .btn-wireframe {
        font-size: 18px;
        padding: 8px 16px;
        margin-bottom: 10px;
    }
}